:root {
  --switch-color-main: #222234;
  --switch-color-secondary: white;
}

.switch input {
  display: none;
}

.switch .container {
  position: relative;
  
  width: 60px;
  height: 30px;
  
  border-radius: 100vmax;
  border: 1px solid var(--switch-color-secondary);
  
  background: var(--switch-color-main);
}
.switch .slider {
  position: absolute;
  
  width: 35%;
  height: 70%;
  
  margin: auto;
  margin-left: 7.5%;
  
  top: 0;
  bottom: 0;
  
  border-radius: 100vmax;
  
  background: var(--switch-color-secondary);
  
  transition: 0.4s;
}

.switch input:checked + .container {
  border: 1px solid var(--switch-color-main);
  
  background: var(--switch-color-secondary);
}

.switch input:checked + .container .slider {
  margin-left: 55%;
  
  background: var(--switch-color-main);
}