html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}
body {
  padding: 40px;

  box-sizing: border-box;
}
* {
  font-family: "BankGothic";
  font-size: 1em;
}

@import "./assets/css/animation.css"