.sidebar {
    display: flex;
    flex-direction: column;

    position: fixed;

    width: 340px;
    margin-left: -300px;

    top: 0;
    left: 0;
    bottom: 0;

    background: rgb(6, 214, 160);
    background: linear-gradient(180deg, rgba(6, 214, 160, 1) 0%, rgba(17, 138, 178, 1) 100%);

    transition: all 0.2s ease-in-out;
}
.sidebar.active {
    margin-left: 0;
}
.sidebar__header {
    display: flex;

    justify-content: flex-end;

    width: 100%;
}


.sidebar__header svg {
    width: 40px;
    height: 40px;

    transition: all 0.2s ease-in-out;

    cursor: pointer;
}
.sidebar__header__gear svg {
    padding: 7px;
    box-sizing: border-box;

    animation: spin 4s linear infinite;
}
.sidebar__header__gear:not(:hover) svg {
    animation-play-state: paused;
}
.sidebar.active .sidebar__header__arrow svg {
    transform: rotateY(180deg);
}


@media screen and (min-width : 768px) {}
@media screen and (max-width : 767px),
(orientation : portrait) {
    .sidebar {
        width: 100%;
        margin-left: calc(40px - 100%);
    }
}
